body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    width: 100%;
    height: 100%;
}

h2{
    text-decoration: wavy;
    border: solid 10px;
    border-style: groove;
    border-color: rgb(80, 191, 228);
    color: goldenrod;
    padding: 5px;
    text-align: center;
}

.bgdiv{
    background: linear-gradient(rgb(80, 191, 228) 65%, orange);
    width: auto;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid 10px;
    flex-wrap: wrap;
    scroll-behavior: auto;
}

.card1 {
    border-radius: 10px;
    padding: 5px 10px;
    
}

.imagecity1{
    max-width: 250px;
    max-height: 310px;  
}

.card2 {
    border-radius: 10px;
    padding: 5px 10px;
}

.imagecity2{
    max-width: 250px;
    max-height: 310px;  
}

.card3 {
    border-radius: 10px;
    padding: 5px 10px;
}

.imagecity3{
    max-width: 250px;
    max-height: 310px;  
}

input, button{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background: linear-gradient(orange, aquamarine);
    margin: 5px;

}

button:hover{
    border-style: ridge;

}

.cardflex1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.cardflex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.cardflex3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.card4 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.card5 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.card6 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
 

.forecastflex{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 5px 10px;
   max-height: 600px;
   max-width: 400px;
   overflow:scroll; height: 450px;
 

}

.forecastflex > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;  
}