body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.bgdiv {
    background: linear-gradient(rgb(80, 191, 228) 65%, orange);
    width: auto;
    height: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid 10px;
    flex-wrap: wrap;
    
}

.card1 {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
}

.card2 {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
}

.card3 {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
}

input, button{
    border-radius: 10px;
    padding: 5px;
    border: none

}

button:hover{
    border-style: ridge;

}

.cardflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;

}

